<div class="col s12 m6 l6">
  <div class="card">
    <div class="card-image">
      <a href='<%= new_question_answer_path(question) %>'><img class="question_img" src='<%= question.question %>'></a>
    </div> 
    <div class="card-content">
      <p>Question created by Mr. <%=question.teacher.last_name %></p>
      <p> This is question tests your problem solving skills </p>
      <p class="question-marks"> This question is worth <%=question.marks%> marks </p>
    </div>
    <% if current_user.teacher? %>
      <div class="card-action">
        <%= link_to '', class: 'view-answers' do %>
          <i class="material-icons">play_for_work</i> 
          Submissions
        <% end %>
        <div class="answers" style="display:none">
          <%= render partial: "/answers/answer", collection: question.answers %>
        </div>
      </div>
    <% end %>
    <div class="card-action">
      <% ans = Answer.find_by(question_id: question.id, student: current_user) %>
      <% if ans && ans.score%>
        <%= link_to "My answer", new_question_answer_path(question) %>
        You got <%= ans.score %>/<%=question.marks%>
      <% elsif ans%>
        <%= link_to "My answer", new_question_answer_path(question) %>
        Not yet marked
      <% else %>
        <%= link_to "Click to answer question", new_question_answer_path(question) %>
      <% end %>
      <% if current_user.teacher? %>
        <%= link_to 'Delete', {action: :destroy, id: question.id}, method: :delete, data: {confirm: 'Are you sure?'} %>
      <% end %>
    </div>
  </div>
</div>