<div class="row">
  <%= form_tag questions_upload_path, class: 'dropzone' do %>

  <% end %>
  <%= form_for @questions, class: 'col s12', url: questions_path, :html => { multipart: true} do |q| %>
    <%= hidden_field_tag 'question[image_ids]'%>
    <div class="row">
      <div class="col s12 m6 l6">
        <%= q.label 'Note' %>
        <%= q.text_field :description, placeholder: 'Enter a short note or description for the question' %>
      </div>
      <div class="col s12 m6 l6">
        <%= q.label 'Marks Available' %>
        <%= q.text_field :marks, placeholder: 'Enter the number of marks this question is worth'%>
      </div>
    </div>
    <div class="row">
      <%= q.label 'Areas of Skill' %>
      <%= q.check_box :knowledge %>
      <%= q.label 'knowledge' %>
      <%= q.check_box :thinking %>
      <%= q.label 'thinking' %>
      <%= q.check_box :communication %>
      <%= q.label 'communication' %>
      <%= q.check_box :application %>
      <%= q.label 'application'%> </br>
    </div>
    <div class="row">
       <%= q.label 'Course: ' + @course.code %> </br>
    </div>
    <div class="row specific-checkboxes">
      <!-- see http://ux.stackexchange.com/questions/76332/material-design-solution-for-popovers -->
      <%= q.collection_check_boxes :ministry_specific_ids, @course.specifics, :id, :part_with_strand do |b| %>
        <%= b.check_box %>
        <%= b.label(
          'data-activates' => "data-specific-#{b.object.id}",
          'data-beloworigin' => 'true',
          'data-hover' => 'true', 
          'data-constrainwidth' => false,
          'class' => 'dropdown-button'
        ) %>
      <% end %>
    </div>

    <% @course.specifics.each do |specific| %>
      <div class='dropdown-content' id='data-specific-<%= specific.id %>'>
        <%= specific.description %>
      </div>
    <% end %>
    
    <div>
      <%= q.submit "Save", class: 'btn' %> 
    </div>
  <% end %>
</div>