<div class="row">
  <%= form_for @question, class: 'col s12', url: questions_path, :html => { :multipart => true } do |q| %>
    <div class="file-field input-field">
      <!-- materialize css -->
      <input class="file-path validate" type="text" placeholder="Click to add file"/>
      <%= q.file_field :question%>
    </div>
    <!-- Once file selected add the source and remove hidden -->
    <img id="question_preview" src="#" hidden/> </br>
    <div class="row">
      <div class="col s12 m6 l6">
        <%= q.label 'Note' %>
        <%= q.text_field :description, placeholder: 'Enter a short note or description for the question' %>
      </div>
      <div class="col s12 m6 l6">
        <%= q.label 'Marks Available' %>
        <%= q.text_field :marks, placeholder: 'Enter the number of marks this question is worth'%>
      </div>
    </div>
    <div class="row">
      <%= q.label 'Areas of Skill' %>
      <%= q.check_box :knowledge %>
      <%= q.label 'knowledge' %>
      <%= q.check_box :thinking %>
      <%= q.label 'thinking' %>
      <%= q.check_box :communication %>
      <%= q.label 'communication' %>
      <%= q.check_box :application %>
      <%= q.label 'application'%> </br>
    </div>
       <%= q.label 'Course: ' + @course.code %> </br>
    </div>
    <div class="row">
      <%= q.collection_check_boxes :ministry_specifics, @course.ministry_specifics, :id, :part_with_strand%>
    </div>
    <div>
      <%= q.submit "Save", class: 'btn' %> 
    </div>
  <% end %>
</div>