<div class="row">
  <div class="col s12 m7">
    <div class="card">
      <img src='<%= question.question %>'>
      <div class="card-content">
        <p>Question created by Mr. <%=question.teacher.last_name %></p>
        <p> This is question tests your problem solving skills </p>
        <p class="question-marks"> This question is worth <%=question.marks%> marks </p>
      </div>
      <div class="card-action">
        <%=link_to "Answer question", new_question_answer_path(question) %>
      </div>
        <% if current_user_type == 'Teacher' %>
        <div class="card-action">
          <%= render partial: "/shared/answers_index", collection: question.answers %>
          <div class="card-action">
          <%= link_to 'Delete', {action: :destroy, id: question.id}, method: :delete, data: {confirm: 'Are you sure?'} %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>        
</div>