</div>
<div class="container">
  <h1 id='testStroke'> Answer the question </h1>
  <div class='divider'> </div>
  <div class='saveMessage'> &nbsp; </div>
</div>
<div id='corkboard' class='row' class='container'>
  <div class="col s12 m12 l9">
    <canvas id='whiteboard' height="500px" width="1000px" data-id="<%= @answer.question.id %>" data-points="<%= @answer.answer %>" data-question="<%=@answer.question.question%>"></canvas>
  </div>
  <div class="col s3 m3 l1">
    <div class="palette tools" id="eraser"></div>
    <div class="palette tools clicked" id="pencil"></div>
    <div class="palette tools" id="blue-pencil"></div>
    <div class="palette tools" id="green-pencil"></div>
    <div class="palette tools" id="orange-pencil"></div>
    <div class="pencil-weight tools clicked" id="thin"></div>
    <div class="pencil-weight tools" id="thick"></div>
    <div class="zoom tools" id="zoomIn"><i class="medium material-icons">zoom_in</i></div>
    <div class="zoom tools clicked" id="zoomOut"><i class="medium material-icons">zoom_out</i></div>
  </div>
  <div class="col s6 m6 l2">
    <p class='question-marks'> This question is worth <%=@answer.question.marks%> marks </p>
    <% if @answer.score %>
      <p> This question has been marked </p>
      <p> You got <%= @answer.score %> out of <%= @answer.question.marks %> </p>
      <p> Mr. <%=@answer.question.teacher.last_name%>'s Comment: <%= @answer.teacher_comment %> </p>
    <% elsif @answer.answer %>
      <p> You have submitted an answer, but it hasn't been marked yet! </p>
    <% else %>
      <p> You have not yet answered this question </p>
    <% end %>
    <% if @answer.created_at %>
      <button id='showAnswer' class='btn'>My Answer</button>
    <%end%>
  </div>
</div> 
<% unless @answer.answer %>
<div id='submit-button' class="row s1">
  <button id='finish'class="btn waves-effect waves-light btn-large btn-fullwidth" type="submit">Submit</button>
  <input id='user_id'type='hidden' name='user_id' value='<%=@current_user.id %>'>
</div>
<% end %>
