
</div>
<div class="container">
  <%= form_for @lesson, url: lessons_path, :html => { :multipart => true } do |l| %>
    <h1> <%= @course.code %> - <%= @course.title %> - Lesson: <%= l.text_field :title %> </h1>
    <div class='divider'> </div>
    <div class='saveMessage'> &nbsp; </div>
  </div>
  <div id='corkboard' class='row' class='container'>
    <div class="col s12 m12 l9">
      <canvas id='whiteboard' height="500px" width="1000px"></canvas>
    </div>
  </div>
    <%= render 'shared/whiteboard_palette' %>


  <%= l.text_field :homework %>
  <%= l.text_field :difficulty %>
  <%= l.submit "Save", class: 'btn' %> 
<% end %>
